.main{    
    display: flex; 
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.left-block{
    flex: 1;
    margin-right: 20px;
    font-size: 32px;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.hidden {
    display: none !important;
}

.description{
    font-size: 18px;
    opacity: 0.7;
}

.button-left-block{
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.button-left-block a, button{
    width: 100%;
    border-radius: 10px;
}

.button-left-block a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ca5f86;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
}

.button-left-block a:hover {
    background-color: #aa5172;
}

.button-ip-container{  
    position: relative;
    width: 100%;
}

.ip-copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    cursor: pointer;
    border: 1px solid gray;
    background-color: #1e161a;
    font-size: 18px;
}

.ip-copy:hover {
    background-color: #35262e;
}

.ip-arrow{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4.5px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.ip-open-arrow.ip-arrow {
    transform: rotate(-135deg);
}

.ip-menu-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    border: none;
    position: absolute;
}

.rigth-block{
    flex: 1;
}

.rigth-block img{
    position: absolute;
    margin-top: -15%;
    margin-left: 10%;
    max-width: 30%;
    height: auto;
    filter: drop-shadow(0 0 100px rgba(255, 204, 204, 0.5));
    transition: filter 0.3s ease;
}

.menu {
    background-color: #282023;
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    max-width: 600px;
    gap: 50px;
    z-index: 1001;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.menu-left, .menu-right {
    border: 2px solid gray;
    border-radius: 1.5rem;
    padding: 20px;
    flex: 1;
    text-align: center;
    font-size: 24px;
}

.menu-left hr, .menu-right hr {
    opacity: 0.15;
    border-radius: 20%;
}

.menu-left:hover, .menu-right:hover {
    background-color: #3d373a;
}

.menu-left img, .menu-right img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 1rem;
}

dialog{
    margin: auto;
}

#blur {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    backdrop-filter: blur(8px);
}

hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.new-vk-wj{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10%;
}

.block-wj{
    width: 80%;
}

.wj{
    margin-top: 40px;
    display: flex;
}

h2{
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.f2-s1{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 10%;
    background-color: #4B3A3D;
    z-index: -9999;
    filter: blur(150px);
    left: 40px;
}

.main-post{
    width: 50%;
    display: flex;
    align-items: center;
}

.side-posts{
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
}

.block-post{
    border-radius: 25px;
    margin: 15px;
    display: flex;
    transition: 0.4s;
    width: 100%;
}

.main-block-post{
    border-radius: 25px;
    display: flex;
    transition: 0.4s;
    width: 100%;
}

.block-post:hover{
    position: relative;
    bottom: 1px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5)
}

.main-block-post:hover{
    position: relative;
    border-radius: 25px;
    bottom: 1px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5)
}


.main-post-block {
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.side-post-block{
    background-size: cover;
    background-position: center; 
    height: 290px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.text {
    padding: 20px;
    border-radius: 25px;
    word-wrap: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    position: relative;
    color: white;
    background: rgba(0, 0, 0, 0.781);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.text h3 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    order: 1; 
}

.text p {
    order: 2; 
    font-size: 20px;
}