footer {
    background-color: #0d0d11;
    color: #ffffff;
    padding: 20px 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.footer-pinkcloud {
    text-shadow: 0px 0px 3px white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 100px;
    gap: 30px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-tagline {
    margin-left: 10px;
    font-size: 14px;
    opacity: 0.7;
}

.footer-tagline a:hover {
    text-decoration: underline;
}

.footer-logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-socials {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-socials li {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer-socials li:hover {
    transform: scale(1.1);
}

.footer-socials a {
    color: #ffffff;
    text-decoration: none;
}

.footer-socials a svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#icon_telegram {
    fill: #ffffff;
    transition: fill 0.3s;
}

#icon_telegram:hover {
    fill: #18a3e6;
}

#icon_vk {
    fill: #ffffff;
    transition: fill 0.3s;
}

#icon_vk:hover {
    fill: #0077ff;
}

#icon_discord {
    fill: #ffffff;
    transition: fill 0.3s;
}

#icon_discord:hover {
    fill: #5769e7;
}

#icon_youtube #gray {
    display: none;
    transition: fill 0.3s;
}

#icon_youtube:hover #gray {
    display: block;
}

#icon_youtube #white {
    display: none;
    transition: fill 0.3s;
}

#icon_youtube:hover #white {
    display: block;
}

#icon_youtube #red {
    fill: #ffffff;
    transition: fill 0.3s;
}

#icon_youtube:hover #red {
    fill: #cd201f;
}

#icon_tiktok #black {
    fill: #ffffff;
    transition: fill 0.3s;
}

#icon_tiktok #red {
    fill: #ffffff;
    transition: fill 0.3s;
}

#icon_tiktok #blue {
    fill: #ffffff;
    transition: fill 0.3s;
}

#icon_tiktok:hover #black {
    fill: #000000;
}

#icon_tiktok:hover #red {
    fill: #ee1d52;
}

#icon_tiktok:hover #blue {
    fill: #69c9d0;
}